@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Founded in 2018,. 5NightFilms is the largest and best-known cinema chain in the UK and Ireland.<p />
<br>5NightFilm Leicester has hosted over 70 of Europe’s biggest film premieres since the 2018 and it's now the first Dolby Cinema™  in the UK.<br />
<br>5NightFilm has 40 cinemas across the UK, which showcase Hollywood and Bollywood movies.<br />



