@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5NightCinema<br />
    1 Portway Street<br />
    London<br />
    LN1 2HG<br />
    <abbr title="Phone">Phone:</abbr>
    (0116)24587952
</address>

<address>
    <strong>Support:</strong>   <a href="5Night-London@cinema.com">5Night-London@cinema.com</a><br />
    <strong>Marketing:</strong> <a href="5Night-London-Marketing@cinema.com">5Night-London-Marketing@cinema.com</a>
</address>