
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <a href="#"><img src="~/Images/logo.png"></a><h1>5Nite Films</h1>
    <p class="lead">
        5Nite Films is the leading movies rating website,
        Explore movies, cast, and get all the movie gossips right here.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Incredibles 2</h2>
        <a href="#"><img src="~/Images/slide-3.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Craig nT.Nelson<br />
                <b>Director:</b>Brad Bird<br />
                <b>Writers:</b>Brad Bird<br />
                <b>Producers:</b>Louis D'Esposito and more.
            </h4>
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("MoviesPage", "Movie1", "Index")>Add Review &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Avengers: Endgame</h2>
        <a href="#"><img src="~/Images/slide-1.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Robert Downey Jr.and more.<br />
                <b>Director:</b>Anthony Russo, Joe Russo<br />
                <b>Writers:</b>Christopher Markus, Stan Lee <br />
                <b>Producers:</b>John Lasseter and more.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo;</a></p>
    </div>



    <div class="col-md-4">
        <h2>The Lion King</h2>
        <a href="#"><img src="~/Images/slide-2.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Donald Glover and more.<br />
                <b>Director:</b>Jon Favreau<br />
                <b>Writers:</b>Brenda Chapman<br />
                <b>Producers:</b>John Bartnicki and more.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Pet Semetary</h2>
        <a href="#"><img src="~/Images/slide-6.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Seth Rogen, Donald Glover and more.<br />
                <b>Director:</b>Jon Favreau<br />
                <b>Writers:</b>Jeff Nathanson, Brenda Chapman<br />
                <b>Producers:</b>John Bartnicki and more.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Dumbo</h2>
        <a href="#"><img src="~/Images/slide-5.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Seth Rogen,  and more.<br />
                <b>Director:</b>Jon Favreau<br />
                <b>Writers:</b>Jeff Nathanson, <br />
                <b>Producers:</b>John Bartnicki and more.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Shazam</h2>
        <a href="#"><img src="~/Images/slide-4.jpg"></a><br />
        <p>
            <h4>
                <b>Starring:</b>Seth Rogen and more.<br />
                <b>Director:</b>Jon Favreau<br />
                <b>Writers:</b>Jeff Nathanson<br />
                <b>Producers:</b>John Bartnicki and more.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Review &raquo;</a></p>
    </div>
</div>

